@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               
            </p>
        </div>
    </section>
}
<h3>Sample:</h3>

<div>
    <h3>Urls</h3>
    
    @{
        List<string> listUrls = (List<string>) ViewBag.Urls;
    
    }
    
    @foreach(string url in listUrls)
    {
        <p>@url</p>
    }
</div>
